*{
  margin: 0;
  padding: 0;
}

body {
 background: linear-gradient(to right, #ef32d9, #89fffd);
  border: 3px solid black;
  max-width: 50%;
  margin: 10vh 25%;
}

.head {
  text-align: center;
}

h3 {
  text-align: center;
}

.coincontainer {
  border: 2px solid black;
  background-color: silver;
  border-radius: 50%;
  height: 130px;
  width: 130px;
  margin: 20px auto;
}

#flipper {
  
}

.coin {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.btnbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
}

.btn {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: -6px 6px 5px;
}

.btn:active {
  box-shadow: -3px 3px 3px;
  transform: translateY(3px);
}
